<mdb-breadcrumb>
  <mdb-breadcrumb-item class="blue-text">Trang chủ</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="active">Quản lý người dùng</mdb-breadcrumb-item>
</mdb-breadcrumb>
<div class="container" >
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
               mdbInput>
        <label for="search-input">Search</label>
      </div>

    </div>
    <div class="col-md-2 md-form mx-auto mt-3">
      <button type="button" mdbBtn color="success" mdbWavesEffect>Tìm kiếm</button>
    </div>
    <div class="col-md-2 md-form mx-auto mt-3">
      <a routerLink="create" type="button" mdbBtn color="primary" mdbWavesEffect>Thêm mới</a>
    </div>
    <div class="flex-center min-vh-100 min-vw-100" *ngIf="loading" style="position: fixed; left: 0; background-color: rgba(0,0,0,0.2)">
      <div class="spinner-border -mars-stroke" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <table mdbTable #tableEl="mdbTable" [stickyHeader]="true" [hover]="true" [striped]="true" class="z-depth-1">

      <thead class="sticky-top">
      <tr>
        <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
            scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
        </th>
        <th>Hành động</th>
      </tr>
      </thead>
      <tbody #row>
      <tr mdbTableCol   *ngFor="let el of elements; let i = index">
        <th *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" scope="row">{{el.id}}</th>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="red-text">{{el.username}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.firstName + ' ' + el.lastName}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.address}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.email}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.phone}}</td>
        <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
          <a [routerLink]="['/admin/user/update',el.id]"  mdbBtn class="btn-primary">Sửa</a>
          <button mdbBtn class="btn-danger" (click)="gotoDelete(el.id)">Xóa</button>
        </td>
      </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="4">
          <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements"></mdb-table-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
