.drag-area{
  font-size: 1.1rem;
  border: 1px solid #bbb; padding: 40px 20px;
  background-color: #fff;
  color: #bbb;
  border-radius: 4px;
}
.drop-area{
  font-size: 1.1rem;
  border: 1px dashed #bbb; padding: 40px 20px;
  background-color: #eff;
  color: #aaa;
}
.image-preview {
  border: 1px solid #bbb;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
}
.image-preview img {
  width: 100%;
  border-radius: 4px;
}
.image-preview .img-action {
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.image-preview .btn-action {
  border: 1px solid rgb(242, 242, 242);
  color: #ffffff;
  background: rgb(165 165 165);
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  width: 35px;
  height: 35px;
  opacity: 0.8;
}
.image-preview .btn-action i {
  font-size: 1.3rem;
}
