<mdb-breadcrumb>
  <mdb-breadcrumb-item class="blue-text">Trang chủ</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="blue-text">Quản lý sản phẩm</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="active">Thêm mới</mdb-breadcrumb-item>
</mdb-breadcrumb>
<form class="container" style="height: 1000px" [formGroup]="productForm" (ngSubmit)="submit()">
  <mdb-card class="">
    <mdb-card-header  class="h4 mb-4 text-center py-4">Thêm mới sản phẩm</mdb-card-header>
    <mdb-card-body>
    <div class="row mb-4">
      <div class="col-md-6 ">
        <label for="tieude" class=""><h6>Tên sản phẩm</h6></label>
        <input type="text" id="tieude" class="form-control " formControlName="name" placeholder="Nhập tên sản phẩm">
      </div>
      <div class="col-md-6">
        <label for="gia" class=""><h6>Giá sản phẩm</h6></label>
        <input type="number" id="gia" class="form-control" formControlName="price" placeholder="Nhập giá">
      </div>
  </div>
      <div class="row mb-4">
        <div class="col-md-6 ">
          <label for="nhom" class=""><h6>Nhóm sản phẩm</h6></label>
          <select id="nhom" class="browser-default custom-select" formControlName="kind">
            <option value="sat" selected>Sắt/thép</option>
            <option value="gach">Gạch</option>
            <option value="da">Đá</option>
            <option value="ximang">Xi măng</option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="dvt" class=""><h6>Đơn vị tính</h6></label>
          <input type="text" id="dvt" class="form-control " placeholder="Nhập đơn vị tính" formControlName="dvt">
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6 ">
          <label for="soluong" class=""><h6>Số lượng</h6></label>
          <input type="number" id="soluong" class="form-control " formControlName="number" placeholder="Nhập số lượng">
        </div>

      </div>
      <div class="row mb-4">
        <div class="col-md-6">
          <label for="dvt" class=""><h6>Ảnh đính kèm</h6></label>
          <div [ngStyle]="{'display': isSelect ? 'flex':'none' }" draggable="true" class="w-50 justify-content-center  border-danger">
            <div class="text-center border p-3">
              <a href="javascript:void('select file');" (click)="file.click()">
                <i class="fas fa-camera fa-lg "></i><br>Tải ảnh lên
              </a>
              <input type="file" #file [multiple]="true" (change)="onFileChange($event)" style="display:none" />
            </div>
          </div>
          <div class="image-preview w-50" [ngStyle]="{'display': isSelect ? 'none':'block' }">
            <img alt="IMG" [src]="previewUrl">
            <div class="img-action">
              <button class="btn-action" (click)="file.click()">
                <i class="pi pi-refresh"></i>
              </button>&nbsp;
              <button class="btn-action" (click)="clearImage()">
                <i class="pi pi-times"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
  <div class="row">
    <div class="">
      <label for="description" class=""><h6>Nhập mô tả</h6></label>
      <angular-editor id="description" [config]="config" formControlName="description"></angular-editor>
    </div>
  </div>
    </mdb-card-body>
    <mdb-card-footer class="flex justify-content-center p-5">
      <div class="btn-group " role="group" >
        <a mdbBtn type="button" routerLink=".." class="waves-light" mdbWavesEffect>Trở lại</a>
        <button mdbBtn type="submit" color="primary" class="waves-light" mdbWavesEffect>Lưu</button>
      </div>
    </mdb-card-footer>
  </mdb-card>
</form>
