mat-sidenav {
  background-color: white;
  border-right: solid #000000 1px;
  height: 100vh;

 .logout-link {
   position: absolute;
   bottom: 5vh;
   left: 20px;
   a {
     display: flex;
     justify-content: center;
     align-items: center;

     mat-icon {
       margin-right: 10px;
     }
   }
 }

  ul {
    list-style-type: "";
    font-weight: bold;
    font-size: 16pt;
    margin: 50px 10px 0 0;


    li a{
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: black;
      mat-icon {
        margin-right: 10px;
      }
    }
  }

}
mat-sidenav-container {
  height: 100vh;
}
.logo {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px 40px;


  img {
    width: 50px;
    height: 50px;
  }

  h1 {
    font-size: 24pt;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
  }

}
