
<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div class="logo">
      <img src="assets/img/logo.png">
      <h1>Tân Lập</h1>
    </div>
    <ul>
      <li><a routerLink="user"><mat-icon aria-hidden="false" aria-label="face">face</mat-icon> Quản lý người dùng</a></li>
      <li><a routerLink="product"><mat-icon aria-hidden="false" aria-label="dns">dns</mat-icon>Quản lý sản phẩm</a></li>
      <li><a routerLink="sales"><mat-icon aria-hidden="false" aria-label="leaderboard">leaderboard</mat-icon>Doanh số bán hàng</a></li>
    </ul>
    <div class="logout-link">
      <a (click)="logout()"><mat-icon aria-hidden="false" aria-label="Logout">logout</mat-icon>Đăng xuất</a>
    </div>
  </mat-sidenav>
  <mat-sidenav-container>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</mat-sidenav-container>
