<div class="container">
<div class="col-md-12">
  <div class="row">
    <div class="col-md-6 card-container card" style="border: none">
      <h1>TanLap.com</h1>
      <p>Đây là website quản trị cho website vinhtan.com,
        bạn cần xin quyền truy cập từ nhà quản trị </p>
      <p>Nếu bạn không phải là quản trị viên:</p>
      <ul>
        <li>Truy cập vào <a href="#">vinhtan.com</a></li>
        <li>Liên hệ với nhà quản trị để có quyền truy cập</li>
      </ul>
    </div>
    <div class="card card-container col-md-6">
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group mt-2">
          <label for="idUserName" >Tài khoản hoặc email</label>
          <input
            type="text"
            class="form-control"
            id="idUserName"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
          />
          <div
            class="mat-error"
            role="alert"
            *ngIf="username.errors && f.submitted"
          >
            Trường bắt buộc nhập
          </div>
        </div>
        <div class="form-group">
          <label for="idPassword" >Mật khẩu</label>
          <input
            id="idPassword"
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            class="mat-error"
            role="alert"
            *ngIf="password.errors && f.submitted"
          >
            <div *ngIf="password.errors.required">Mật khẩu bắt buộc nhập</div>
            <div *ngIf="password.errors.minlength">
              Mật khẩu tối thiểu 6 ký tự
            </div>
          </div>
        </div>
        <div class="custom-line">
          <div class="form-check form-group custom-checkbox">
            <input class="form-check-input" type="checkbox" value="" id="remember">
            <label class="form-check-label" for="remember">
             Nhớ mật khẩu!
            </label>
          </div>
          <div class="forgotPass">
            <a *ngIf="!isLoggedIn" href="/register" style="align-self: center;">Quên mật khẩu?</a>

          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block">
            Đăng nhập
          </button>
        </div>
        <div class="form-group">
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
          >
            Login failed: {{ errorMessage }}
          </div>
        </div>

      </form>

      <div class="alert alert-success" *ngIf="isLoggedIn">
        Đăng nhập thành công!
      </div>
      <a *ngIf="!isLoggedIn" href="/register" style="align-self: center;">Bạn chưa có tài khoản?</a>
    </div>
  </div>
</div>
</div>
