<div class="d-flex justify-content-center align-items-center notfound card h-50 w-50 ml-5">
  <div class="justify-content-center">

      <h1 class="title">404</h1>
      <span><strong>Không tìm thấy trang</strong></span>


    <div class="exception-panel-footer">
      <button type="button" mdbBtn  [routerLink]="['/']">Trở lại</button>
    </div>
  </div>
</div>
