
.navbar-brand {
    font-family: RockSalt;
    margin-left: 148px;
    color: black;
}
.navbar-nav {
    font-family: Quicksand;
    font-style: normal;
    font-weight: 1;
    font-size: 14pt;
    color: black;
}
.navbar {
    box-shadow: 2px 5px 5px  #888888;
}
.home-search{
    display: flex;
    width: 500px;
    height: 60px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-left: 148px;
    border-radius: 45px;
    padding-left: 20px;
    padding-right: 15px;
    border: 1.5px #A5A3A3 solid;
}
.home-search-icon {
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 5px;

    padding: 2px;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
  }
  .form-control {
      border: none;
      font-size: 12pt;
      
  }

  .btn:focus{
      outline: none;
      box-shadow: none;
  }

  
.news-manager-bar {
    font-family: Quicksand;
    font-size: medium;
    z-index: 11;
    position: fixed;
    left: 0px;
    height: 1000px;
    width: 300px;
    box-shadow: 2px 5px 5px  #888888;
    background-color: white;
    top: 80px;
}
.news-manager-bar div {
    
    background-color:white;
   
}


.btn-province {
    width: 100%;
    padding: 10px 30px;
}
.utility-section {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
  }
  mat-slider {
    width: 250px;
    
  }
  .price-choose, .square-choose {
    margin-left: 20px;
    
  }
  .price-choose h3,.square-choose h3 {
      font-family: Quicksand;
      font-weight:normal;
      font-size: 14pt;
  }