<mdb-breadcrumb>
  <mdb-breadcrumb-item class="blue-text">Trang chủ</mdb-breadcrumb-item>
  <mdb-breadcrumb-item class="active">Dashboard</mdb-breadcrumb-item>
</mdb-breadcrumb>
<div class="d-grid col-12 ">
  <div class="row">
  <div style="display: block" class="col-6">
    <canvas mdbChart
            [chartType]="chartType"
            [datasets]="chartDatasets"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
    <canvas mdbChart
            [chartType]="'line'"
            [datasets]="chartDatasetsLine"
            [labels]="chartLabels"
            [colors]="chartColors"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
  <div style="display: block" class="col-6">
    <canvas mdbChart
            [chartType]="'doughnut'"
            [datasets]="[{ data: [300, 50, 100, 40, 120], label: 'Danh số bán hàng tháng 9' }]"
            [labels]=" ['Red', 'Green', 'Yellow', 'Grey', 'Dark Grey']"
            [colors]="colorCircle"
            [options]="chartOptions"
            [legend]="true"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div>
</div>
